USE [master]
GO
/****** Object:  Database [MensajeriaDB]    Script Date: 13/06/2026 10:32:33 ******/
CREATE DATABASE [MensajeriaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MensajeriaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2026\MSSQL\DATA\MensajeriaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MensajeriaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2026\MSSQL\DATA\MensajeriaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MensajeriaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MensajeriaDB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 13/06/2026 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[Departamento] [nvarchar](80) NOT NULL,
	[NIT] [nvarchar](20) NULL,
	[NitValido] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oficina]    Script Date: 13/06/2026 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficina](
	[IdOficina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Departamento] [nvarchar](80) NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 13/06/2026 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[IdEnvio] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRastreo] [nvarchar](30) NOT NULL,
	[IdRemitente] [int] NOT NULL,
	[IdDestinatario] [int] NOT NULL,
	[IdOficinaOrigen] [int] NOT NULL,
	[IdOficinaDestino] [int] NOT NULL,
	[PesoKg] [decimal](10, 2) NOT NULL,
	[TarifaBase] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[TotalPagar] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[IntentosEntrega] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoRastreo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoEnvio]    Script Date: 13/06/2026 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoEnvio](
	[IdEstado] [int] NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
	[EsFinal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RastreoEnvios]    Script Date: 13/06/2026 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ================================
   5. ACTUALIZAR VISTA DE RASTREO
   ================================ */

CREATE   VIEW [dbo].[vw_RastreoEnvios] AS
SELECT
    e.IdEnvio,
    e.CodigoRastreo,
    e.IdEstado,
    es.NombreEstado AS Estado,
    e.PesoKg,
    e.TarifaBase,
    e.Descuento,
    e.TotalPagar,
    e.IntentosEntrega,
    r.Nombre AS Remitente,
    d.Nombre AS Destinatario,
    oo.Nombre AS OficinaOrigen,
    od.Nombre AS OficinaDestino,
    e.FechaRegistro,
    e.FechaActualizacion
FROM dbo.Envio e
INNER JOIN dbo.EstadoEnvio es ON e.IdEstado = es.IdEstado
INNER JOIN dbo.Cliente r ON e.IdRemitente = r.IdCliente
INNER JOIN dbo.Cliente d ON e.IdDestinatario = d.IdCliente
INNER JOIN dbo.Oficina oo ON e.IdOficinaOrigen = oo.IdOficina
INNER JOIN dbo.Oficina od ON e.IdOficinaDestino = od.IdOficina;
GO
/****** Object:  Table [dbo].[HistorialEnvio]    Script Date: 13/06/2026 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEnvio](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdEnvio] [int] NOT NULL,
	[EstadoNuevo] [nvarchar](30) NOT NULL,
	[IdOficina] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[Notas] [nvarchar](500) NULL,
	[IdEstadoNuevo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransicionEstado]    Script Date: 13/06/2026 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransicionEstado](
	[IdTransicion] [int] IDENTITY(1,1) NOT NULL,
	[IdEstadoOrigen] [int] NOT NULL,
	[IdEstadoDestino] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Transicion] UNIQUE NONCLUSTERED 
(
	[IdEstadoOrigen] ASC,
	[IdEstadoDestino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [NitValido]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Envio] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Envio] ADD  DEFAULT ('Registrado') FOR [Estado]
GO
ALTER TABLE [dbo].[Envio] ADD  DEFAULT ((0)) FOR [IntentosEntrega]
GO
ALTER TABLE [dbo].[Envio] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Envio] ADD  DEFAULT (sysdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Envio] ADD  CONSTRAINT [DF_Envio_IdEstado]  DEFAULT ((1)) FOR [IdEstado]
GO
ALTER TABLE [dbo].[EstadoEnvio] ADD  DEFAULT ((0)) FOR [EsFinal]
GO
ALTER TABLE [dbo].[HistorialEnvio] ADD  DEFAULT (sysdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Oficina] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Destinatario] FOREIGN KEY([IdDestinatario])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_Destinatario]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadoEnvio] ([IdEstado])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_Estado]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_OficinaDestino] FOREIGN KEY([IdOficinaDestino])
REFERENCES [dbo].[Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_OficinaDestino]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_OficinaOrigen] FOREIGN KEY([IdOficinaOrigen])
REFERENCES [dbo].[Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_OficinaOrigen]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Remitente] FOREIGN KEY([IdRemitente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_Remitente]
GO
ALTER TABLE [dbo].[HistorialEnvio]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Envio] FOREIGN KEY([IdEnvio])
REFERENCES [dbo].[Envio] ([IdEnvio])
GO
ALTER TABLE [dbo].[HistorialEnvio] CHECK CONSTRAINT [FK_Historial_Envio]
GO
ALTER TABLE [dbo].[HistorialEnvio]  WITH CHECK ADD  CONSTRAINT [FK_Historial_EstadoNuevo] FOREIGN KEY([IdEstadoNuevo])
REFERENCES [dbo].[EstadoEnvio] ([IdEstado])
GO
ALTER TABLE [dbo].[HistorialEnvio] CHECK CONSTRAINT [FK_Historial_EstadoNuevo]
GO
ALTER TABLE [dbo].[HistorialEnvio]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Oficina] FOREIGN KEY([IdOficina])
REFERENCES [dbo].[Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[HistorialEnvio] CHECK CONSTRAINT [FK_Historial_Oficina]
GO
ALTER TABLE [dbo].[TransicionEstado]  WITH CHECK ADD  CONSTRAINT [FK_Transicion_Destino] FOREIGN KEY([IdEstadoDestino])
REFERENCES [dbo].[EstadoEnvio] ([IdEstado])
GO
ALTER TABLE [dbo].[TransicionEstado] CHECK CONSTRAINT [FK_Transicion_Destino]
GO
ALTER TABLE [dbo].[TransicionEstado]  WITH CHECK ADD  CONSTRAINT [FK_Transicion_Origen] FOREIGN KEY([IdEstadoOrigen])
REFERENCES [dbo].[EstadoEnvio] ([IdEstado])
GO
ALTER TABLE [dbo].[TransicionEstado] CHECK CONSTRAINT [FK_Transicion_Origen]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [CK_Envio_Estado] CHECK  (([Estado]='Devuelto' OR [Estado]='EnDevolucion' OR [Estado]='Entregado' OR [Estado]='EnReparto' OR [Estado]='EnTransito' OR [Estado]='Registrado'))
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [CK_Envio_Estado]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [CK_Envio_Intentos] CHECK  (([IntentosEntrega]>=(0) AND [IntentosEntrega]<=(3)))
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [CK_Envio_Intentos]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [CK_Envio_Peso] CHECK  (([PesoKg]>(0)))
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [CK_Envio_Peso]
GO
ALTER TABLE [dbo].[HistorialEnvio]  WITH CHECK ADD  CONSTRAINT [CK_Historial_Estado] CHECK  (([EstadoNuevo]='Devuelto' OR [EstadoNuevo]='EnDevolucion' OR [EstadoNuevo]='Entregado' OR [EstadoNuevo]='EnReparto' OR [EstadoNuevo]='EnTransito' OR [EstadoNuevo]='Registrado'))
GO
ALTER TABLE [dbo].[HistorialEnvio] CHECK CONSTRAINT [CK_Historial_Estado]
GO
USE [master]
GO
